* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Days One', sans-serif;    
}

.container {
    background: url('../assets/binary-code.png') repeat-x;
    height: 100vh;
    width: 5076px;
    -webkit-animation: slide 200s linear infinite;
            animation: slide 200s linear infinite;
    position: relative;
}

main {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;
}

  @-webkit-keyframes slide{
    0%{
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    100%{
      -webkit-transform: translate3d(-1692px, 0, 0);
              transform: translate3d(-1692px, 0, 0);
    }
  }

  @keyframes slide{
    0%{
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    100%{
      -webkit-transform: translate3d(-1692px, 0, 0);
              transform: translate3d(-1692px, 0, 0);
    }
  }

/*************** logo *********************/

.logo-box {
    margin: 0 auto;
}

.logo img {
    margin-top: 30px;
    width: 250px;
}

/*************** construction notice *********************/

.notice {
    margin: 50px auto;
    padding: 20px;
    width: 500px;
    height: 250px;
    border-bottom: solid 5px #D8007A;
    border-left: solid 5px #D8007A;
    background-color: white;
}

.notice h2 {
    text-align: center;
}

.notice p {
    margin: 20px;
}

/*************** email button *********************/

.mailto{
    text-align: center;
    line-height: 100%;
    display:block;
    margin: 40px auto;
    background: #D8007A;
    width:250px;
    height:50px;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
            box-shadow: 0 6px 6px rgba(0, 0, 0, .2);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.mailto:hover {
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
            box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px);
}

.mailto:active {
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.mailto a {
    text-decoration: none;
    color: #fff;
    line-height: 50px;
}

.mailto a:active {
    color: #fff;
}

.mailto a:visited {
    color: #fff;
}

/*************** animation *********************/

.box {
    width: 100px;
    height: 100px;
    background: #D8007A;
    border-radius: 50px;
}