* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/************* MOBILE NAV *************/

.mobile-nav {
    
}

.mobile-nav__checkbox {
    display: none;
}

.mobile-nav__button {
    background-color: #fff;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 4rem;
    right: 4rem;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .2);
    text-align: center;
    cursor: pointer;
}

.mobile-nav__background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 4.5rem;
    right: 4.5rem;
    background-image: radial-gradient(#D8007A, #36011f);
    z-index: 1000;
    transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

    /* transform: scale(80); */
}

.mobile-nav__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.mobile-nav__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.mobile-nav__item {
    margin: 1rem;
}

.mobile-nav__link:link,
.mobile-nav__link:visited {
    display: inline-block;
    font-size: 3rem;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 240%;
    transition: all .4s;
}

.mobile-nav__link:hover,
.mobile-nav__link:active {
    background-position: 100%;
    color: #D8007A;
    transform: translateX(1rem); 
}

.mobile-nav__checkbox:checked ~ .mobile-nav__background {
    transform: scale(80);
}

.mobile-nav__checkbox:checked ~ .mobile-nav__nav {
    opacity: 1;
    width: 100%;
}

.mobile-nav__icon {
    position: relative;
    margin-top: 2.5rem;
}

.mobile-nav__icon,
.mobile-nav__icon::before,
.mobile-nav__icon::after {
    width: 2rem;
    height: 2px;
    background-color: #333;
    display: inline-block;
}

.mobile-nav__icon::before,
.mobile-nav__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s;
}

.mobile-nav__icon::before {
    top: -.8rem;
}

.mobile-nav__icon::after {
    top: .8rem;
}

.mobile-nav__button:hover .mobile-nav__icon::before {
    top: -1rem;
}

.mobile-nav__button:hover .mobile-nav__icon::after {
    top: 1rem;
}

.mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon {
    background-color: transparent;
}

.mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.mobile-nav__checkbox:checked + .mobile-nav__button .mobile-nav__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

/************* CAROUSEL *************/

.carousel img {
    /* margin-top: 5rem; */
    height: 55vh;
}

.carousel-caption {
    top: 5%;
    left: 5%;
    width: 40%;
}

.carousel h5 {
    font-family: "Anton";
    font-size: 2.1rem;
    text-align: left;
    text-shadow: 0 6px 9px rgba(0, 0, 0, .2);
}

.carousel p {
    font-family: "Anton";
    font-size: 1.4rem;
    text-align: left;
    margin-top: 2.4rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

@media (min-width: 40rem) {
    .carousel img {
        height: 100vh;
    }

    .carousel h5 {
        font-size: 3.2rem;
    }
    
    .carousel p {
        font-size: 2.4rem;
        margin-top: 3.2rem;
    }
}

@media (min-width: 65rem) {
    .carousel h5 {
        font-size: 4rem;
    }
    
    .carousel p {
        font-size: 3rem;
        margin-top: 4rem;
    }
}

/************* ABOUT US SECTION *************/

#about-us {
}

.partners-logo {
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 3rem;
}

.key-features {
    width: 100vw;
    background-color: #96bf48;
    color: #fff;
}

.key-features__title {
    font-size: 2rem;
    text-align: center;
    padding: 3rem 0 1rem 0;
}

.key-features__sub-title {
    text-align: center;
    margin-bottom: 3rem;
}

.key-features__list {
    list-style: none;
    padding: 1rem;
    margin: 0;
    text-align: center;
}

.key-feature {
    display: block;
}

.key-feature__headline {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 3rem;
}

.key-feature__description {
    font-weight: normal;
    font-size: 1rem;
}

.key-feature__icon ion-icon {
    font-size: 5rem;
    color: rgb(217, 255, 47);
}

@media (min-width: 44rem) {  
    .key-feature {
        display: inline-block;
        width: 30%;
    }
}

.key-feature__img {
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    border: solid 2px green;
    border-radius: 50%;
    margin: 0 auto;
}

.key-features__list {
    display: flex;
    justify-content: center;
}

.key-feature {
    display: flex;
    flex-direction: column;
}

.key-feature__description {

}

/************* FOOTER SECTION *************/

.main-footer {
    font-size: .8rem;
    padding: 1rem;
    background-color: #111;
    color: #fff;
}

.main-footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center
}

.main-footer__link {
    display: inline-block;
    margin: 0 1rem;
    font-weight: bold;
    font-size: 1rem;
}

.main-footer__link a {
    color: #fff;
    text-decoration: none;
}

.main-footer__link a:active,
.main-footer__link a:hover {
    color: #ccc;
}

.main-footer__credit,
.main-footer__credit a,
.main-footer__credit a:active,
.main-footer__credit a:visited {
    font-weight: normal;
    color: #444;    
}