body {
    font-family: 'Days One', sans-serif;
}

/************* NAVBAR *************/

.navbar-brand img {
    width: 25%;
}

/* .navbar-light .navbar-nav .active>.nav-link {
    color: #D8007A;
} */

.navbar-nav, .ml-auto {
    margin-right: 5%;
}

li {
    padding: 20px;
}

/************* CAROUSEL *************/

.carousel img {
    height: 85vh;
}

.carousel-caption {
    top: 10%;
    left: 5%;
    width: 40%;
}

.carousel h5 {
    font-family: "Anton";
    font-size: 5rem;
    text-align: left;
    text-shadow: 0 6px 9px rgba(0, 0, 0, .2);
}

.carousel p {
    font-family: "Anton";
    font-size: 2rem;
    text-align: left;
    margin-top: 4rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

/************* SERVICES *************/

#services h3 {
    text-align: center;
    margin: 6rem;
    color: #33b5e5;
}

.card-deck .card {
    margin: 0 5%;
}

.card-deck .material-icons {
    margin: 2rem;
    font-size: 4rem;
    color: #555;
}

.card-deck .card-highlight i {
    color: #fff;
}

.card-highlight .card-footer {
    background-color: red;
    border-top: white 2px solid;
}