body {
    font-family: 'Days One', sans-serif;
}

/************* NAVBAR *************/

#logo, .navbar-brand {
    font-family: 'Dr Sugiyama', cursive;
    text-align: left;
    font-size: 2em;
    margin-left: 5%;
    padding: 20px 20px 0 20px;
    text-shadow: 6px 3px 3px #aaa;
    border-bottom: 2px solid #D8007A;
    width: 160px;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #D8007A;
}

.navbar-nav, .ml-auto {
    margin-right: 5%;
}

li {
    padding: 20px;
}

/************* BANNER *************/

#banner {
    position: relative;
}

#banner img {
    width: 90%;
    display: block;
    margin: 0 auto 30px;
    height: 300px;
    opacity: .8;
}

h1 {
    position: absolute;
    right: 5%;
    bottom: 0;
    background: #fff;
    color: #000;
    margin: 0 auto;
    border: solid;
    text-align: left;
    text-transform: uppercase;
    padding: 0 5px;
    font-size: 2em;
}

/************* MAIN *************/

.htmlImg, .cssImg, .jsImg {
    position: relative;
}


.htmlImg img, .cssImg img, .jsImg img {
    display: block;
    margin: 0 auto;
    opacity: 0.3;
    width: 600px;
}

.jsImg {
    margin-top: 25px;
}

.jsImg img {
    border-radius: 50%;
    width: 570px
}

.paraBG {
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 35%;
    width: 50%;
    background: #fff;
    min-width: 600px;
    padding: 3% 10% 3% 10%;
    text-align: center;
}

/*.sellingPoints {
    position: absolute;
    text-align: center;
    font-size: 1.2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30%;
    width: 50%;
    min-width: 550px;
    background: #fff;
    padding: 20px;
}*/

footer {
    height: 150px;
    padding-top: 100px;
    text-align: right;
}

footer p {
    padding-right: 40px;
}

/************* PORTFOLIO *************/
/************* GALLERY *************/

h2 {
    text-align: center;
    margin: 50px
}

.container.gallery {
    display: flex;
    flex: flex-wrap;
    justify-content: center;
}

.imgFrame {
    padding: 3px;
    box-shadow: inset 5px 5px 5px #ccc;
}

.imgFrame img {
    width: 250px;
    height: 250px;
    margin: 10px;
    border: solid 1px #eee;
    transition: all 500ms;
    box-shadow: 6px 3px 3px #ccc;
}

.imgFrame img:hover {
    transform: scale(0.97);
    box-shadow: none;
}

/*.press img {
    box-shadow: 6px 3px 3px #ccc;
}*/

h3 {
    text-align: center;
    font-size: 1em;
}

/************* BUTTONS *************/

a, a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
}

.btn-pink {
    color: #fff;
    background-color: #D8007A;
    /*border-color: #dc3545;*/
    display: block;
    margin: 30px auto 5px;
    box-shadow: 6px 3px 3px #ccc;
}

.btn-pink:active {
    color: #fff;
    background-color: #AB0061;
    /*border-color: #dc3545;*/
    box-shadow: none;
}

.btn-pink:hover {
    color: #fff;
    background-color: #AB0061;
    /*border-color: #dc3545;*/
}

/*.btn-pink:focus, .btn-pink.focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}*/

/********* PORTFOLIO/FEATURED PROJECTS *********/

#display p {
    margin: 0 auto;
    text-align: center;
    width: 80%
}

#display img {
    display: block;
    margin: 100px auto 0;
    width: 500px;
    transition: all 500ms;
}

#display img:hover {
    transform: scale(1.8);
}

